<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Order
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>
            Проживание {{preOrder.nights}} ночей
        </ion-label>
        <ion-label>
            C {{preOrder.dateFrom | date:"fullDate"}} по {{preOrder.dateTo |
            date:"fullDate"}}.
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label> Санаторий {{preOrder.hotel.name}} </ion-label>
        <ion-label> Номер {{preOrder.room.name}} </ion-label>
        <ion-label>
            Для {{preOrder.adults}} взрослых и {{preOrder.children}} детей
        </ion-label>
    </ion-item>

    <ion-item>
        Итого {{preOrder.room.totalPrice}} RUB
    </ion-item>

    <form [formGroup]="form">
        <ion-row>
            <ion-col>
                <ng-container formArrayName="touristsData">
                    <ion-item
                        *ngFor="let tourist of tourists.controls; let i = index"
                    >
                        Турист {{i}}
                        <ion-item [formGroupName]="i">
                            <ion-item></ion-item>
                            <ion-input
                                formControlName="firstName"
                                placeholder="Имя"
                            >
                            </ion-input>
                            <ion-input
                                placeholder="Фамилия"
                                formControlName="lastName"
                            >
                            </ion-input>
                        </ion-item>
                    </ion-item>
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input
                        formControlName="email"
                        placeholder="Email"
                    ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input
                        formControlName="tel"
                        placeholder="Телефон"
                    ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-item button color="primary" (click)="saveOrder()">
                Оформить</ion-item
            >
        </ion-row>
    </form>
</ion-content>
