<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let hotel of hotelsForRender">
        <ion-list-header>
            <ion-label>{{hotel.name}}</ion-label>
            <ion-label
                >C {{searchData.dateFrom | date:"fullDate"}} по
                {{searchData.dateTo | date:"fullDate"}}. Проживание {{nights}}
                ночей
            </ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item
                *ngFor="let room of hotel.rooms"
                (click)="bookThis(hotel, room)"
            >
                <ion-item>{{room.name}} </ion-item>
                <ion-item>Взрослых {{searchData.adults}} </ion-item>
                <ion-item>Детей {{searchData.children}} </ion-item>
                <ion-item>{{room.price.adult}} </ion-item>
                <ion-item>{{room.price.children}} </ion-item>
                <ion-item>Стоимость {{room.totalPrice}} </ion-item>
            </ion-item>
        </ion-list>
    </ion-list>
</ion-content>
