<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Результат поиска
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="hotelsForRender.length === 0">
        нет результатов. измените условия поиска.
    </ion-item>
    <ion-list *ngFor="let hotel of hotelsForRender">
        <ion-list-header>
            <ion-label>{{hotel.name}}</ion-label>
            <ion-label
                >C {{searchData.dateFrom | date:"fullDate"}} по
                {{searchData.dateTo | date:"fullDate"}}. Проживание {{nights}}
                ночей
            </ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item *ngFor="let room of hotel.rooms">
                <ion-item (click)="roomDetailes(room)">{{room.name}} </ion-item>
                <ion-item>Взрослых {{searchData.adults}} </ion-item>
                <ion-item>Детей {{searchData.children}} </ion-item>
                <ion-item>{{room.price.adult}} </ion-item>
                <ion-item>{{room.price.children}} </ion-item>
                <ion-item (click)="bookThis(hotel, room)"
                    >Купить за {{room.totalPrice}}
                </ion-item>
            </ion-item>
        </ion-list>
    </ion-list>
</ion-content>
