<ion-header>
    <ion-toolbar *ngIf="hotel">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{hotel.name}}, {{hotel.region}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="hotel">
    <ion-item>{{hotel.name}}</ion-item>
    <ion-item>{{hotel.description.text}}</ion-item>
    <ion-item>Номера:</ion-item>
    <ion-item *ngFor="let room of hotel.rooms">
        <ion-item (click)="roomDetailes(room)">
            <ion-item>{{room.name}}</ion-item>
        </ion-item>
        <ion-item>Размещение</ion-item>
        <ion-item *ngFor="let acc of room.accomodation">{{acc}}</ion-item>
    </ion-item>
    <ion-item>
        <ion-slides class="foto" pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let foto of hotel.description.fotos">
                <ion-img src="{{foto}}"></ion-img>
            </ion-slide>
        </ion-slides>
    </ion-item>
</ion-content>
