<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Поиск
        </ion-title>
        <ion-item slot="end" *ngIf="signedIn">
            <ion-label>{{user.attributes.email}}</ion-label>
            <ion-item (click)="logOut()">
                <ion-icon name="log-out"> </ion-icon
            ></ion-item>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- [formGroup]="searchForm" -->
    <form [formGroup]="searchForm" (ngSubmit)="logForm(searchForm)">
        <ion-row>
            <ion-col
                ><ion-item>
                    <input
                        formControlName="dateFrom"
                        class="form-control"
                        placeholder="Заезд"
                        bsDatepicker
                        placement="bottom"
                    /> </ion-item
            ></ion-col>
            <ion-col
                ><ion-item>
                    <input
                        class="form-control"
                        formControlName="dateTo"
                        placeholder="Выезд"
                        bsDatepicker
                        placement="bottom"
                    /> </ion-item
            ></ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Взрослых</ion-label>
                    <ion-select
                        formControlName="adults"
                        cancelText="Отмена"
                        okText="Выбрать"
                    >
                        <ion-select-option value="1"
                            >1 взрослый</ion-select-option
                        >
                        <ion-select-option value="2"
                            >2 взрослых</ion-select-option
                        >
                        <ion-select-option value="3"
                            >3 взрослых</ion-select-option
                        >
                        <ion-select-option value="4"
                            >4 взрослых</ion-select-option
                        >
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Детей</ion-label>
                    <ion-select
                        formControlName="children"
                        cancelText="Отмена"
                        okText="Выбрать"
                    >
                        <ion-select-option value="1"
                            >1 ребенок</ion-select-option
                        >
                        <ion-select-option value="2"
                            >2 ребенка</ion-select-option
                        >
                        <ion-select-option value="3"
                            >3 ребенка</ion-select-option
                        >
                        <ion-select-option value="4"
                            >4 ребенка</ion-select-option
                        >
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Звездность</ion-label>
                    <ion-select
                        formControlName="stars"
                        multiple="true"
                        cancelText="Отмена"
                        okText="Выбрать"
                    >
                        <ion-select-option value="2">
                            2 звезды</ion-select-option
                        >
                        <ion-select-option value="3"
                            >3 звезды</ion-select-option
                        >
                        <ion-select-option value="4"
                            >4 звезды</ion-select-option
                        >
                        <ion-select-option value="5">5 звезд</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Местонахождения</ion-label>
                    <ion-select
                        formControlName="location"
                        multiple="true"
                        cancelText="Отмена"
                        okText="Выбрать"
                    >
                        <ion-select-option value="7">Минск</ion-select-option>
                        <ion-select-option value="1"
                            >Брестская область</ion-select-option
                        >
                        <ion-select-option value="2"
                            >Витебская область</ion-select-option
                        >
                        <ion-select-option value="3"
                            >Гомельская область</ion-select-option
                        >
                        <ion-select-option value="4"
                            >Гроднекнская область</ion-select-option
                        >
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col
                ><ion-searchbar
                    formControlName="searchString"
                    showCancelButton="never"
                ></ion-searchbar
            ></ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <app-hotel-list
                    [filtredHotels]="filtredHotels"
                    [searchForm]="searchForm"
                ></app-hotel-list>
            </ion-col>
        </ion-row>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <!-- [disabled]="!searchForm.valid" -->
            <ion-item color="primary" lines="none" button (click)="priceShow()">
                <ion-icon name="arrow-dropleft"></ion-icon>
            </ion-item>
        </ion-fab>
    </form>
</ion-content>
