<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #searchForm="ngForm" (ngSubmit)="logForm(searchForm)" novalidate>
        <ion-row>
            <ion-col
                ><ion-item>
                    <input
                        class="form-control"
                        placeholder="Datepicker"
                        bsDatepicker
                        [(ngModel)]="searchForm.dateStartFrom"
                        name="dateStartFrom"
                        ngControl="dateStartFrom"
                        placement="bottom"
                    /> </ion-item
            ></ion-col>
            <ion-col
                ><ion-item>
                    <input
                        class="form-control"
                        placeholder="Datepicker"
                        bsDatepicker
                        [(ngModel)]="searchForm.dateStartTo"
                        name="dateStartTo"
                        ngControl="dateStartTo"
                        placement="bottom"
                    /> </ion-item
            ></ion-col>
        </ion-row>

        <!-- <ion-item>
            <ion-label>Todo</ion-label>
            <ion-input
                type="text"
                required
                [(ngModel)]="searchForm.title"
                name="title"
                ngControl="title"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea
                [(ngModel)]="searchForm.description"
                ngControl="description"
                name="description"
            ></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Toppings</ion-label>
            <ion-select
                [(ngModel)]="searchForm.multiSelect"
                ngControl="multiSelect"
                name="multiSelect"
                multiple="true"
                cancelText="Nah"
                okText="Okay!"
            >
                <ion-select-option value="pepperoni"
                    >Pepperoni</ion-select-option
                >
                <ion-select-option value="pineapple"
                    >Pineapple</ion-select-option
                >
                <ion-select-option value="sausage">Sausage</ion-select-option>
                <ion-select-option value="Spinach">Spinach</ion-select-option>
            </ion-select>
            
        </ion-item> -->
        <!-- <button type="submit" ion-button>Add Todo</button> -->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon name="arrow-dropleft"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </form>
    <!-- <app-hotel-list [hotels]="hotels"></app-hotel-list> </ion-content> -->
</ion-content>
